body {
    margin: 0;
    padding: 0;
    position: relative; /* Añadir posición relativa para el encabezado */
}
.card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
    margin: 0 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card.wide {
    width: 300px; /* La tarjeta "Maleta" es más ancha */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: url('tu_fondo.jpg'); /* Fondo del encabezado */
    background-size: cover;
    background-position: center;
    position: relative; /* Añadir posición relativa para el encabezado */
}

.overlay {
    background: rgba(0, 0, 0, 0.5); /* Superposición translúcida */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 250px;
    margin-left: 20px;
    position: relative; /* Añadir posición relativa para el logo */
    z-index: 1; /* Asegura que el logo esté en la parte superior */
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

.menu li {
    margin: 0;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: #0a0909;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

nav ul.categories {
    list-style: none;
    padding: 0;
}

nav ul.categories li {
    margin: 0;
    padding: 10px;
}

nav ul.categories li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el footer */
footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color de texto en el footer */
    padding: 10px; /* Espaciado interno del footer */
    display: flex;
    justify-content: space-between; /* Coloca las redes sociales a la derecha */
}
.footer-content p{
    margin-left: 900px;
   
    text-align: center;
    font: 1em sans-serif;
}
/* Estilos para los íconos de redes sociales */
.social-icons a {
    color: #fff; /* Color de los íconos de redes sociales */
    font-size: 30px; /* Tamaño de fuente de los íconos de redes sociales */
    margin-right: 60px; /* Espacio entre los íconos de redes sociales */
    text-decoration: none; /* Elimina la subraya en los enlaces de redes sociales */
}

/* Cambiar el color de los íconos de redes sociales cuando se les pasa el mouse */
.social-icons a:hover {
    color: #002fff; /* Cambia el color de los íconos al pasar el mouse */
}
